body {
    padding: 4% 10%;
    background-color: #17161B;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.color-FD5B02{
    color: #FD5B02;
}

.color-D9D9D9{
    color: #D9D9D9;
}

.intro-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-side h1 {
    font-size: 90px;
    margin-bottom: 12px;
}

.name-side{
    position: relative;
}
.name-cicle{
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FD5B02;
    bottom: 83px;
    left: 188px;
    z-index: -100;
}