body {
    padding: 4% 10%;
    background-color: #17161B;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* .pin-spacer{
    width: 100% !important;
    background-color: red;
} */


.nav{
    position: absolute;
}

.color-FD5B02{
    color: #FD5B02;
}

.color-D9D9D9{
    color: #D9D9D9;
}

.introduction{
    height:  100vh !important;
}

.intro-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

.name-side {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
}

.name-side h1 {
    font-size: 90px;
    margin-bottom: 12px;
    margin-top: 0;
    position: relative;
}
/* 
.name-side{
    position: relative;
} */

.image-side{
    position: absolute;
    /* z-index: -100; */
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 50%;
    /* transform: translate(-50%, -50%); */
}

.image-side img{
    width: 100%;
}
.name-cicle{
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FD5B02;
    bottom: 31px;
    left: 85px;
    z-index: -100;
}


.name-side-action{
    opacity: 0;
}